@(templateList: Array[Template])(implicit request: RepositoryRequestHeader)

@base.auth(request.messages("repository.constructor.title")){
@header.repositoryHeader(ConstructorPage)

@templateList.zipWithIndex.map { case (template, i) =>
  <div class="wrap-collabsible">
    <input id="collapsible-@{i}" class="toggle" type="checkbox">
    <label for="collapsible-@{i}" class="lbl-toggle">@template.name</label>
    <div class="collapsible-content">
      <div class="content-inner">
        @template.description.map { text =>
          <p> @{text} </p>
        }
      </div>
    </div>
  </div>
}
}()
