@(currentPage: List[Repository])(implicit request: UserRequestHeader)

@import base._

@auth(request.messages("repository.list.title")) {
<p><a class="rz-button" href="@routes.GitEntitiesController.createRepository">@request.messages("repository.list.createNew")</a></p>

  @Option(currentPage).filterNot(_.isEmpty).map { repositories =>
        @repositories.map {
          case (repository) => {
<p><a href='@routes.GitEntitiesController.view(repository.owner.userName, repository.name, ".", repository.defaultBranch)'> @repository.owner.userName / @repository.name</a> </p>
          }
        }
  }.getOrElse {
    <p>
      @request.messages("repository.list.empty")
    </p>
  }

}
