@(uploadForm: Form[UploadFileForm], rev: String, path: String)(implicit request: RepositoryRequestHeader)
@import views.html.helper._
@import base._
@import helpers._

@auth(request.messages("repository.upload.title")) {
@repositoryHeader()
@if(!path.isEmpty) {
<p>You are uploading to <strong>@path</strong></p>
}
@form(routes.GitEntitiesController.upload(request.repository.owner.userName, request.repository.name, rev), Symbol("enctype") -> "multipart/form-data") {
@CSRF.formField
<input type="file" id="filepicker" name="fileList" multiple  accept="image/*,text/*" />
<ul id="listing"></ul>

<input type="text" id="message" name="message" value='@request.messages("repository.edit.commitmessage")' />

<input type="hidden" name="path" value='@path' />

<input type="radio" id="single" name="input-type" value="single" checked>
<label for="single">@request.messages("repository.upload.singleFile")</label>

<input type="radio" id="directory" name="input-type" value="directory">
<label for="directory">@request.messages("repository.upload.completeDirectory")</label><br>

<input type="submit" value='@request.messages("repository.upload.submit")'/>
}


<link rel="stylesheet" media="screen" href='@routes.Assets.at("dist/stylesheets/upload.css")'/>
<script src='@routes.Assets.at("dist/javascript/upload.js")' type="text/javascript"></script>
}
