@(title: String)(body: Html, header: Html, fluid: Boolean = false)(implicit request: RequestHeader)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>@title - RAZAM</title>
    <link rel="stylesheet" href='@routes.Assets.at("dist/stylesheets/main.css")'/>
  </head>
  <body>
    <header class="rz-header rz-menu rz-menu-horizontal">
      <div class="rz-menu-heading rz-logo">
        RAZAM
      </div>
      @header
    </header>
      @if(!fluid) {
        <div class="container">
        }
        @body
        @if(!fluid) {
          </div>
        }
  </body>
</html>
