@import '~milligram/dist/milligram.min';

header#auth-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 48px;
    background: #fff;
    font-size: 16px;
    border-bottom: 1px solid #ececec;

    .logo {
        font-size: 28px;
        height: 48px;
        line-height: 48px;
    }

    .auth-user, .sign-out, .repositories {
        height: 48px;
        line-height: 48px;
    }

    .auth-user {
        margin-left: auto;
    }

    .repositories, .sign-out {
        margin-left: 25px;
    }

    img.profile-picture {
        width: 25px;
        height: 25px;
        display: inline-block;
        overflow: hidden;
        line-height: 1;
        vertical-align: middle;
        border-radius: 3px;
    }
}

.container {
    margin-top: 50px;
}

.svg-icon {
    width: 20px;
    margin-right: 5px;
}