.template-page {
  display: flex;
  flex-direction: row;
}

.rz-form-template {
  .rz-control-group {
    margin-bottom: 30px;
  }
}

.rz-pdf-template {
  width: 700px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
}