.template-page {
  display: flex;
  flex-direction: row;
  height: 700px;
  margin-top: 50px;
  .template-description-content {
    .rz-controls {
      margin-bottom: 30px;
    }
  }
}

.rz-form-template {
  .rz-control-group {
    margin-bottom: 30px;
  }
}

.rz-pdf-template {
  width: 600px;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.rz-template-list {
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}
