.ssh-key-block {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;

  div {
    padding-top: 5px;
    display: block;
  }

  .ssh-key-block-email {
    font-weight: bold;
  }

  .ssh-key-block-remove-block {
    text-align: right;
  }
}

.ssh-key-textarea {
  width: 100%;
  height: 100px;
}

.ssh-key-actions {
  margin-top: 60px;
}
