.rz-menu-selected {
  background-color: #ebebeb;
}

@for $i from 0 through 4 {
  .rz-menu-file-tree-depth-#{$i} {
    width: 100%;
    padding-left: $base-file-tree-padding * $i;
  }

  .rz-menu-file-tree-depth-#{$i}-content {
    width: $filetree-width - ($base-file-tree-padding * $i)- 36px - 60px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }

  .rz-menu-file-tree-depth-#{$i}-content input {
    width: $filetree-width - ($base-file-tree-padding * $i)- 36px - 100px;
  }
}

.file-tree-icon {
  cursor: pointer;
}

.action-buttons {
  display: inline-block;
  vertical-align: top;

  a {
    text-decoration: none;
  }
}

.breadcrumbs {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  padding-left: 10px;

  .breadcrumbs-divider {
    color: #ccc;
    padding-left: 5px;
    padding-right: 5px;
  }

  dl {
    margin: 0;
  }
}

.repo-header-last-modified {
  color: #6a737d;
}
@media (min-width: 992px) {
  .rz-sidebar {
    display: flex;
    flex-direction: row;
    min-height: calc(100% - 52px);
  }

  .rz-sidebar > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .rz-sidebar-filetree {
    max-width: $filetree-width;
    border-right: 1px solid #ebebeb;
    overflow-x: hidden;
    flex: 1 1 auto;
    position: relative;
  }

  .rz-editor-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
  }

  .code-wrap {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100%;
    position: relative;
  }
  textarea.editor,
  textarea.editor:focus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 80%;
    font-size: 16px;
    font-family: "iA Writer Duospace", monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    border: 0;
    padding: 0 10% 0 10%;
    line-height: 1.5;
    background-color: #F7F7F7;
  }
  .rz-menu-file-tree {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}
.rz-editor-content-header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rz-editor-content-header > div {
  margin-right: 15px;
}
