.rz-card {
    display: block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;

    padding-right: 1em;
    padding-bottom: 0em;
    padding-left: 1em;
    text-decoration: none;
}

.rz-card:hover {
    background-color: #eee;
}
