.rz-menu-file-tree {
  margin-left: -$sidebar-width;
  width: $sidebar-width;
  position: fixed;
  top: $header-height;
  left: $sidebar-width;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  border-right: 1px solid #ebebeb;


  .upload-button {
    margin-left: auto;
    padding-right: 5px;
  }

  .rz-menu-file-tree-chosen {
    background-color: #ebebeb;
  }
}

@for $i from 0 through 4 {
  .rz-menu-file-tree-depth-#{$i} {
    width: 100%;
    padding-left: $base-file-tree-padding * $i;
  }
}
