dd,
dl,
dt {
  margin-left: 0;
  margin-right: 0;
}

.tf-form input[type='text'],
.tf-form input[type='password'],
.tf-form input[type='email'],
.tf-form input[type='url'],
.tf-form input[type='date'],
.tf-form input[type='month'],
.tf-form input[type='time'],
.tf-form input[type='datetime'],
.tf-form input[type='datetime-local'],
.tf-form input[type='week'],
.tf-form input[type='number'],
.tf-form input[type='search'],
.tf-form input[type='tel'],
.tf-form input[type='color'],
.tf-form select,
.tf-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.tf-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.tf-form input[type='color'] {
  padding: 0.2em 0.5em;
}

.tf-form input[type='text']:focus,
.tf-form input[type='password']:focus,
.tf-form input[type='email']:focus,
.tf-form input[type='url']:focus,
.tf-form input[type='date']:focus,
.tf-form input[type='month']:focus,
.tf-form input[type='time']:focus,
.tf-form input[type='datetime']:focus,
.tf-form input[type='datetime-local']:focus,
.tf-form input[type='week']:focus,
.tf-form input[type='number']:focus,
.tf-form input[type='search']:focus,
.tf-form input[type='tel']:focus,
.tf-form input[type='color']:focus,
.tf-form select:focus,
.tf-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.tf-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.tf-form input[type='file']:focus,
.tf-form input[type='radio']:focus,
.tf-form input[type='checkbox']:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}
.tf-form .tf-checkbox,
.tf-form .tf-radio {
  margin: 0.5em 0;
  display: block;
}

.tf-form input[type='text'][disabled],
.tf-form input[type='password'][disabled],
.tf-form input[type='email'][disabled],
.tf-form input[type='url'][disabled],
.tf-form input[type='date'][disabled],
.tf-form input[type='month'][disabled],
.tf-form input[type='time'][disabled],
.tf-form input[type='datetime'][disabled],
.tf-form input[type='datetime-local'][disabled],
.tf-form input[type='week'][disabled],
.tf-form input[type='number'][disabled],
.tf-form input[type='search'][disabled],
.tf-form input[type='tel'][disabled],
.tf-form input[type='color'][disabled],
.tf-form select[disabled],
.tf-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.tf-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.tf-form input[readonly],
.tf-form select[readonly],
.tf-form textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.tf-form input:focus:invalid,
.tf-form textarea:focus:invalid,
.tf-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.tf-form input[type='file']:focus:invalid:focus,
.tf-form input[type='radio']:focus:invalid:focus,
.tf-form input[type='checkbox']:focus:invalid:focus {
  outline-color: #e9322d;
}
.tf-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}
.tf-form select[multiple] {
  height: auto;
}
.tf-form label {
  margin: 0.5em 0 0.2em;
}
.tf-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.tf-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.tf-form-stacked input[type='text'],
.tf-form-stacked input[type='password'],
.tf-form-stacked input[type='email'],
.tf-form-stacked input[type='url'],
.tf-form-stacked input[type='date'],
.tf-form-stacked input[type='month'],
.tf-form-stacked input[type='time'],
.tf-form-stacked input[type='datetime'],
.tf-form-stacked input[type='datetime-local'],
.tf-form-stacked input[type='week'],
.tf-form-stacked input[type='number'],
.tf-form-stacked input[type='search'],
.tf-form-stacked input[type='tel'],
.tf-form-stacked input[type='color'],
.tf-form-stacked input[type='file'],
.tf-form-stacked select,
.tf-form-stacked label,
.tf-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

.tf-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.tf-form-aligned input,
.tf-form-aligned textarea,
.tf-form-aligned select,
.tf-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}
.tf-form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.tf-form-aligned .tf-control-group {
  margin-bottom: 0.5em;
}
.tf-form-aligned .tf-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.tf-form-aligned .tf-controls {
  margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.tf-form input.tf-input-rounded,
.tf-form .tf-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.tf-form .tf-group fieldset {
  margin-bottom: 10px;
}
.tf-form .tf-group input,
.tf-form .tf-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.tf-form .tf-group input:focus,
.tf-form .tf-group textarea:focus {
  z-index: 3;
}
.tf-form .tf-group input:first-child,
.tf-form .tf-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.tf-form .tf-group input:first-child:last-child,
.tf-form .tf-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.tf-form .tf-group input:last-child,
.tf-form .tf-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.tf-form .tf-group button {
  margin: 0.35em 0;
}

.tf-form .tf-input-1 {
  width: 100%;
}
.tf-form .tf-input-3-4 {
  width: 75%;
}
.tf-form .tf-input-2-3 {
  width: 66%;
}
.tf-form .tf-input-1-2 {
  width: 50%;
}
.tf-form .tf-input-1-3 {
  width: 33%;
}
.tf-form .tf-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
.tf-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.tf-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .tf-form button[type='submit'] {
    margin: 0.7em 0 0;
  }

  .tf-form input:not([type]),
  .tf-form input[type='text'],
  .tf-form input[type='password'],
  .tf-form input[type='email'],
  .tf-form input[type='url'],
  .tf-form input[type='date'],
  .tf-form input[type='month'],
  .tf-form input[type='time'],
  .tf-form input[type='datetime'],
  .tf-form input[type='datetime-local'],
  .tf-form input[type='week'],
  .tf-form input[type='number'],
  .tf-form input[type='search'],
  .tf-form input[type='tel'],
  .tf-form input[type='color'],
  .tf-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .tf-group input:not([type]),
  .tf-group input[type='text'],
  .tf-group input[type='password'],
  .tf-group input[type='email'],
  .tf-group input[type='url'],
  .tf-group input[type='date'],
  .tf-group input[type='month'],
  .tf-group input[type='time'],
  .tf-group input[type='datetime'],
  .tf-group input[type='datetime-local'],
  .tf-group input[type='week'],
  .tf-group input[type='number'],
  .tf-group input[type='search'],
  .tf-group input[type='tel'],
  .tf-group input[type='color'] {
    margin-bottom: 0;
  }

  .tf-form-aligned .tf-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .tf-form-aligned .tf-controls {
    margin: 1.5em 0 0 0;
  }

  .tf-form-message-inline,
  .tf-form-message {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
