.tf-menu {
  box-sizing: border-box;
}

.tf-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.tf-menu-list,
.tf-menu-item {
  position: relative;
}

.tf-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tf-menu-item {
  padding: 0;
  margin: 0;
}

.tf-menu-link,
.tf-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

/* Submenus should still be display: block; */
.tf-menu-item .tf-menu-item {
  display: block;
}

.tf-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
  background-color: #fff;
}

.tf-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.tf-menu-link {
  color: #777;
}

.tf-menu-link,
.tf-menu-disabled,
.tf-menu-heading {
  padding: 0.5em 1em;
}

.tf-menu-horizontal .tf-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

.tf-menu-active > .tf-menu-children,
.tf-menu-allow-hover:hover > .tf-menu-children {
  display: block;
  position: absolute;
}

/* Vertical Menus - show the dropdown arrow */
.tf-menu-has-children > .tf-menu-link::after {
  padding-left: 0.5em;
  content: '\25B8';
  font-size: small;
}

/* Horizontal Menus - show the dropdown arrow */
.tf-menu-horizontal .tf-menu-has-children > .tf-menu-link::after {
  content: '\25BE';
}

/* HORIZONTAL MENU */

/* misc default styling */
.tf-menu-horizontal .tf-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em;
}

.tf-menu-separator,
.tf-menu-horizontal .tf-menu-children .tf-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: 0.3em 0;
}

/* Need to reset the separator since submenu is vertical */
.tf-menu-horizontal .tf-menu-children .tf-menu-separator {
  display: block;
  width: auto;
}

.tf-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}

.tf-menu-horizontal .tf-menu-list {
  display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.tf-menu-horizontal .tf-menu-item,
.tf-menu-horizontal .tf-menu-heading,
.tf-menu-horizontal .tf-menu-separator {
  display: inline-block;
  vertical-align: middle;
}

/* scrollable menus */
.tf-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.tf-menu-scrollable .tf-menu-list {
  display: block;
}

.tf-menu-horizontal.tf-menu-scrollable .tf-menu-list {
  display: inline-block;
}

.tf-menu-horizontal.tf-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;

  /* a little extra padding for this style to allow for scrollbars */
  padding: 0.5em 0;
}

.tf-menu-disabled {
  opacity: 0.5;
}

.tf-menu-disabled .tf-menu-link:hover {
  background-color: transparent;
}

.tf-menu-active > .tf-menu-link,
.tf-menu-link:hover,
.tf-menu-link:focus {
  background-color: #eee;
}

.tf-menu-selected > .tf-menu-link,
.tf-menu-selected > .tf-menu-link:visited {
  color: #000;
}

.menu-item-divided {
  border-top: 1px solid #eee;
}

// repository menu

.repository-name {
  font-size: 18px;
  padding-left: 10px;
}

.clone-label {
  cursor: pointer;
}

.clone-label:hover {
  text-decoration: underline dashed;
}

input[id='show-http']:checked ~ #git-ssh-url-block {
  display: none;
}

input[id='show-ssh']:checked ~ #git-http-url-block {
  display: none;
}

.tf-clone-by {
  color: $base-gray-color;
  padding-left: 1em;
  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked + label {
    color: #000;
  }
}

#git-http-url,
#git-ssh-url {
  width: 250px;
}

.ssh-copy-button {
  margin-left: -5px;
}

.tf-form-inline {
  display: inline;
}

.tf-input-inline {
  border-radius: 4px 0 0 4px !important;
}

.tf-button-left {
  border-radius: 0 4px 4px 0 !important;
}

#git-http-url-block,
#git-ssh-url-block {
  input {
    height: 35px;
  }
  button {
    height: 35px;
  }
}
