@(fileTree: FileTree, currentPath: String)(implicit request: RepositoryRequestHeader)


@printNode(node: FileNode, path: String) = {

@if(!node.isRoot) {
<p><img src='@routes.Assets.at("images/folder.svg")' class="svg-icon"/> @node.data</p>
<div class="file-tree-folder">
  }

  @for(folder <- node.folders) {
  @printNode(folder, path)
  }

  @for(file <- node.files) {
  @if(!(ExcludedFileNames contains file.data)) {
    <a class="file-tree-node @if(file.pathWithoutRoot == path) { file-tree-node-chosen }"
      href='@routes.GitEntitiesController.blob(request.repository.owner.userName, request.repository.name, request.repository.defaultBranch, file.pathWithoutRoot)'>
      <img src='@routes.Assets.at("images/document.svg")' class="svg-icon"/> @file.data
    </a>
  }
  }

  @if(!node.isRoot) {
</div>
}

}
<div class="file-tree">
  @printNode(fileTree.root, currentPath)
</div>
