@(fileTree: FileTree, currentPath: String)(implicit request: RepositoryRequestHeader)


@printNode(node: FileNode, path: String) = {

@if(!node.isRoot) {
<p>@node.data</p>
<div class="file-tree-folder">
  }

  @for(folder <- node.folders) {
  @printNode(folder, path)
  }

  @for(file <- node.files) {
  @if(!(ExcludedFileNames contains file.data)) {
  <p>
    <a
      href='@routes.GitEntitiesController.blob(request.repository.owner.userName, request.repository.name, request.repository.defaultBranch, file.pathWithoutRoot)'>
      @file.data @if(file.pathWithoutRoot == path) { * }
    </a>
  </p>
  }
  }

  @if(!node.isRoot) {
</div>
}

}
<div class="file-tree">
  @printNode(fileTree.root, currentPath)
</div>
