@(fileTree: FileTree)(implicit request: RepositoryRequestHeader)


@printNode(node: FileNode) = {

  @if(!node.isRoot) {
    <p>@node.data</p>
    <ul>
  }

  @for(folder <- node.folders) {
    @printNode(folder)
  }

  @for(file <- node.files) {
      <li>
        <p>
          <a href='@routes.GitEntitiesController.blob(request.repository.owner.userName, request.repository.name, request.repository.defaultBranch, file.pathWithoutRoot)'>
        @file.data
      </a>
        </p>
      </li>
  }

  @if(!node.isRoot) {
    </ul>
  }

}
<div id="fileTree">
  <div class="rz-menu">
    <div class="rz-menu-list">
      @printNode(fileTree.root)
    </div>
  </div>
</div>
