@(breadcrumbs: Breadcrumbs)(implicit request: RepositoryRequestHeader)

<div class="breadcrumbs">
  <span class="breadcrumbs-repo-name">@request.repository.name</span> <span class="breadcrumbs-divider">/</span>

@for(breadcrumb <- breadcrumbs.breadcrumbs){
  @breadcrumb.name <span class="breadcrumbs-divider">/</span>
}

@breadcrumbs.fileName
  <a class="rz-button"
     href="@routes.GitEntitiesController.raw(request.repository.owner.userName, request.repository.name, rev, path)">
  @request.messages("repository.viewFile.raw")
</a>
</div>
