@(breadcrumbs: Breadcrumbs)(implicit request: RepositoryRequestHeader)

<div class="breadcrumbs">
<a href='@routes.GitEntitiesController.view(request.repository.owner.userName, request.repository.name, ".", request.repository.defaultBranch)'>@request.repository.name</a> /

@for(breadcrumb <- breadcrumbs.breadcrumbs){
  <a href="@routes.GitEntitiesController.view(request.repository.owner.userName, request.repository.name, breadcrumb.path, request.repository.defaultBranch)">@breadcrumb.name</a> /
}

@breadcrumbs.fileName
</div>
