@(addCollaboratorForm:Form[NewCollaboratorData],collaborators:Seq[Collaborator])(implicit request:RepositoryRequestHeader) 
@import views.html.helper._

@base.auth(request.messages("repository.collaborator.title")){
@header.repositoryMenu(CollaboratorsPage)
@header.alerts()
@if(collaborators.length > 0) {
<h2> @request.messages("repository.collaborator.list") </h2>
} 
@collaborators.map { 
case (collaborator) => {
@form(routes.CollaboratorsController.remove(request.repository.owner.username, request.repository.name)) {
@CSRF.formField
<input type="hidden" name="email" value="@collaborator.account.email" />
<div class="collaborator-row">
  @collaborator.account.username / @{collaborator.role match {
    case Role.Editor => {
  request.messages("repository.collaborator.accessLevel.write") }
    case Role.Viewer => {
  request.messages("repository.collaborator.accessLevel.read") }
    case _ => () }}

  <button class="rz-button" type="submit"> @request.messages("repository.collaborator.remove") </button>
</div>
} 
} 
}
<h2>Add member</h2>
@form(routes.CollaboratorsController.add(request.repository.owner.username, request.repository.name),Symbol("class") -> "rz-form") { 
@CSRF.formField 
@inputText(addCollaboratorForm("emailOrLogin"), Symbol("_label") -> request.messages("repository.collaborator.emailOrLogin"), Symbol("_help") -> "", Symbol("autofocus") -> "")
@select(field = addCollaboratorForm("role"), options = Seq(
	Role.Viewer.perm.toString -> request.messages("repository.collaborator.accessLevel.read"),
	Role.Editor.perm.toString -> request.messages("repository.collaborator.accessLevel.write")),
	Symbol("_label") -> request.messages("repository.collaborator.accessLevel"), Symbol("_help") -> "")
<div class="actions">
  <input type="submit" value='@request.messages("repository.collaborator.button")' class="rz-button" />
</div>
}
}()
