@(map: scala.collection.SortedMap[String, Template], template: Option[Template], currentKey: Option[String])(implicit req: RepositoryRequestHeader)
@import models._
@import views.html.helper._

@renderNumeric(n: Numeric) = {
  <label for="@n.name" class="rz-template-name">@n.label</label>
  <label for="@n.name">@n.description</label>
  <input id="@n.name" name="@n.name" type="number" value="@n.default" min="@n.min" max="@n.max" required />
}

@renderCheckbox(c: Checkbox) = {
  <label for="@c.name" class="rz-checkbox">
    <p>@c.description</p>
    <input type="checkbox" id="@c.name" name="@c.name" /> 
      @c.label
  </label>
}

@renderSelect(s: Choice) = {
  <label for="@s.name" class="rz-template-name">@s.label</label>
  <label for="@s.name">@s.description</label>
  <select name="@s.name" id="@s.name">
    @s.choices.map { c =>
      <option>@c</option>
    }
  </select>
}

@renderField(field: Field) = {
  @{field match {
    case n: Numeric => renderNumeric(n)
    case c: Checkbox => renderCheckbox(c)
    case s: Choice => renderSelect(s)
  }}
}

@renderTemplatePdf(tplId: String) = {
  <embed src="@routes.TemplateController.templatePdf(tplId)#zoom=75&pagemode=none&toolbar=0&view=FitH,top" type="application/pdf" class="rz-pdf-template"/>
}


@renderTemplate(tpl: Template) = {
  <div>
    @renderTemplatePdf(tpl.id)
  </div>
  <div class="template-description">
    <div class="template-description-content">
        @tpl.description.map { text =>
          <p> @{text} </p>
        }
        @form(routes.TemplateController.build(req.repository.owner.userName, req.repository.name), Symbol("class")->"rz-form rz-form-stacked rz-form-template") {
          @CSRF.formField
            <div class="rz-controls">
                <button type="submit" class="rz-button rz-button-primary">Create</button>
            </div>
            <input type="hidden" name="name" value="@tpl.id" />
            @tpl.fields.map { field =>
              <div class="rz-control-group"> @renderField(field) </div>
            }
        }
    </div>
  </div>
}

@base.auth(req.messages("repository.creator.title")){
@header.repositoryMenu(ConstructorPage)
@header.alerts()

<div class="template-page">
  <div class="rz-menu rz-template-list">
    <ul class="rz-menu-list">
      @map.map { case(key, template) =>
      <li class="rz-menu-item">
        <a 
          class='rz-menu-link @if(currentKey.getOrElse("").equals(key)) { rz-menu-selected }'
          href="@routes.TemplateController.view(req.repository.owner.userName, req.repository.name, key)">@template.name</a>
      </li>
      }
    </ul>
  </div>

  @{template match {
  case Some(tpl) => renderTemplate(tpl)
  case _ => {}
  }}

</div>


}{
}
