@(editorForm: Form[EditedItem], blob:Blob,path:String, rev: String, breadcrumbs: FilePath, fileTree: FileTree,newItemForm:Form[NewItem])(implicit request: RepositoryRequestHeader)
@import views.html.helper._
@import print.date

@form(routes.FileEditController.edit(request.repository.owner.username,request.repository.name), Symbol("enctype")->"application/x-www-form-urlencoded", Symbol("accept-charset")->"UTF-8", Symbol("class")->"rz-editor-form") {

@CSRF.formField
<div class="rz-editor-content-header">
  <div class="breadcrumbs">
    <span class="breadcrumbs-repo-name">@request.repository.name</span>
    <span class="breadcrumbs-divider">/</span>

    @for(breadcrumb <- breadcrumbs.path){
      @breadcrumb.name
      <span class="breadcrumbs-divider">/</span>
    } 
    <div class="rz-form rz-form-inline">@inputText(editorForm("name"), Symbol("_label") -> "", Symbol("_help") -> "", Symbol("autocomplete") -> "off")</div>
  </div>
  <div class="actions">
    @if(request.role == Role.Owner || request.role == Role.Editor) {
    @if(blob.content.viewType == "text"){
    <input
      type="submit"
      class="rz-button button-small"
      value='@request.messages("repository.edit.submit")'
      id="file-save-submit"
      onclick="window.onbeforeunload = null;"
    />
    }
    }
    <a
      class="rz-button button-small"
      href="@routes.FileViewController.raw(request.repository.owner.username, request.repository.name, rev, path)"
    >
      <img src='@routes.Assets.at("images/download.svg")' class="svg-icon" />
      @request.messages("repository.viewFile.raw")
    </a>
  </div>
  <div class="repo-header-last-modified">
    @request.messages("repository.viewFile.lastModified", blob.latestCommit.committerName) 
    @date(blob.latestCommit.commitTime)
  </div>
</div>

@header.alerts()
@inputText(editorForm("path"), Symbol("hidden")->"hidden", Symbol("_label") -> "",Symbol("_help") -> "", Symbol("_class")->"hidden")
@inputText(editorForm("rev"), Symbol("hidden")->"hidden", Symbol("_label") -> "", Symbol("_help") -> "", Symbol("_class")->"hidden")

@if(blob.content.viewType == "text"){
  <div class="code-wrap">
    <img src='@routes.Assets.at("images/next.svg")' class="svg-icon file-tree-icon backdrop" id="backdrop" style="display:none;"/>
    <textarea class="editor" id="code" name="content" spellcheck="false" autofocus>@blob.content.content.getOrElse("")</textarea>
  </div>
}
@if(blob.content.viewType == "image"){
  <img
    src="@routes.FileViewController.raw(request.repository.owner.username, request.repository.name, RzRepository.defaultBranch, path)"
    class="rz-content-image"
  />
}
@if(blob.content.viewType == "large" || blob.content.viewType == "binary") {
  <a
    href="@routes.FileViewController.raw(request.repository.owner.username, request.repository.name, RzRepository.defaultBranch, path)"
  >
    @request.messages("repository.viewFile.cant")
  </a>
}

}
