@(uploadForm: Form[UploadFileForm], rev: String, path: String)(implicit request:RepositoryRequestHeader) 
@import views.html.helper._

@base.auth(request.messages("repository.upload.title")){
@header.repositoryMenu(RzRepository.Page.FileUpload)
<div class="upload-page">
  <h1> @request.messages("repository.upload.title") </h1>
  @if(!path.isEmpty) {
  <p> @request.messages("repository.upload.messagePath", path) </p>
  } else {
  <p> @request.messages("repository.upload.messageRoot") </p>
  } 
  @form(routes.FileUploadController.upload(request.repository.owner.username, request.repository.name,
  rev),Symbol("enctype")->"multipart/form-data",Symbol("class")->"rz-form"){ 
  @CSRF.formField

  <label for="single" class="rz-radio">
    <input type="radio" name="inputtype" id="single" name="input-type" value="single" checked />
    @request.messages("repository.upload.singleFile")
  </label>

  <label for="directory" class="rz-radio">
    <input type="radio" name="inputtype" id="directory" name="input-type" value="directory" />
    @request.messages("repository.upload.completeDirectory")
  </label>
  <input type="file" id="filepicker" name="fileList" multiple accept="image/*,text/*" />
  <ul id="listing"></ul>

  <input type="hidden" name="path" value="@path" />

  <input type="submit" class="rz-button" value='@request.messages("repository.upload.submit")' />
  }
</div>
}{
<script src='@routes.Assets.at("dist/upload.bundle.js")' type="text/javascript" defer></script>
}
