@(editorForm:Form[EditedItem],blob:RepositoryTreeContent, path:String, rev: String, breadcrumbs: FilePath, fileTree:FileTree,newItemForm: Form[NewItem])(implicit request: RepositoryRequestHeader)

@import views.html.helper._

@currentFile = {
  <div class="breadcrumbs">
    <span class="breadcrumbs-repo-name">@request.repository.name</span>
    <span class="breadcrumbs-divider">/</span>
    @for(breadcrumb <- breadcrumbs.path){
      @breadcrumb.name
      <span class="breadcrumbs-divider">/</span>
    } 
    @breadcrumbs.last
  </div>
}

@printNode(node: FileNode, parentHash: String) = {
  <div
    class="tf-menu-item @if(node.isRoot) { menu-item-divided }"
    depth="@node.depth"
    path="@node.pathAsUrl"
    hash="@node.hash"
    parent="@parentHash"
  >
    <div class="tf-menu-link">
      <div class="tf-menu-file-tree-content tf-menu-file-tree-depth-@node.depth">
        <div class="tf-menu-file-tree-depth-@node.depth-content">
        @if(!node.isRoot) { 
          @if(node.files.length > 0) {
          <img src='@routes.Assets.at("images/down.svg")' class="svg-icon file-tree-icon file-tree-show" id="icon-@node.hash" />
          } else {
          <img src='@routes.Assets.at("images/next.svg")' class="svg-icon file-tree-icon" />
          } 
        } 
        @if(node.isRoot) { 
          <a href="@collaboratorsRoutes.CollaboratorsController.page(request.repository.owner.username, request.repository.name)"><img src='@routes.Assets.at("images/gear.svg")' class="svg-icon" /></a>
          @request.repository.name 
        } else { @node.data }
        </div>
        @if(request.role == Role.Owner || request.role == Role.Editor) {
        <div class="action-buttons">
          <a
            href="@documentsRoutes.FileEditController.addNewItemPage(request.repository.owner.username, request.repository.name, rev, node.pathAsUrl)"
            class="add-file-button" 
          >
          <img src='@routes.Assets.at("images/add-file.svg")' class="svg-icon file-tree-icon add-file-button" />
          </a>
          <a
            href="@documentsRoutes.FileEditController.addNewFolderPage(request.repository.owner.username, request.repository.name, rev, node.pathAsUrl)"
            class="add-folder-button"
          >
          <img src='@routes.Assets.at("images/add-folder.svg")' class="svg-icon file-tree-icon add-folder-button"  />
          </a>
          <a
            href="@documentsRoutes.FileUploadController.uploadPage(request.repository.owner.username, request.repository.name, rev, node.pathAsUrl)"
          >
            <img src='@routes.Assets.at("images/upload.svg")' class="svg-icon" />
          </a>
        </div>
        }
      </div>
    </div>
  </div>

  @for(folder<-node.folders){
    @printNode(folder, node.hash)
  }

  @for(file <- node.files) {
    @if(!(FileTree.excluded contains file.data)) {
      <div
        data-turbolinks="true"
        class="tf-menu-item"
        depth="@file.depth"
        parent="@node.hash"
        @if(file.pathWithoutRoot.equals(path)) { id="tf-menu-file-tree-chosen" }
      >
        <a
          class="tf-menu-link @if(file.pathWithoutRoot == path) { tf-menu-selected }"
          href="@documentsRoutes.FileViewController.blob(request.repository.owner.username, request.repository.name, RzRepository.defaultBranch, file.pathAsUrl)"
        >
          <div class="tf-menu-file-tree-content tf-menu-file-tree-depth-@file.depth">
            <img src='@routes.Assets.at("images/document.svg")' class="svg-icon file-tree-icon" />
            @file.data
          </div>
        </a>
      </div>
    }
  }
} 

@base.auth(breadcrumbs.last.getOrElse(request.repository.name), true) {
@form(documentsRoutes.FileEditController.addNewItem(request.repository.owner.username,request.repository.name),Symbol("id")->"new-item-form",Symbol("class")->"hidden"){ 

@CSRF.formField
<img src='@routes.Assets.at("images/folder.svg")' class="svg-icon" id="folder-icon" />
<img src='@routes.Assets.at("images/document.svg")' class="svg-icon" id="file-icon" />
@inputText(newItemForm("path"),Symbol("id") -> "new-item-form-path") 
@inputText(newItemForm("rev"))
@checkbox(newItemForm("isFolder"),Symbol("id")->"new-item-form-is-folder") 
@inputText(newItemForm("name"),Symbol("id")-> "new-item-form-name") 
}

<div class="tf-sidebar">
  <div class="tf-sidebar-filetree" id="tf-sidebar-filetree">
    <div class="tf-menu-file-tree"> @printNode(fileTree.root, fileTree.root.hash) </div>
  </div>

  <div class="tf-editor-content">
    @{(blob, breadcrumbs) match {
      case (content:Blob, contentB:FilePath) => {
        repository.editor(editorForm,content,path,rev,contentB,fileTree,newItemForm) 
      }
      case (EmptyRepository, _) => {""}
      case _=> {""}
    }}
  </div>
</div>
}{
<style>
@@font-face {
  font-family: "iA Writer Duospace";
  font-weight: normal;
  font-style: normal;
  src: url(@routes.Assets.at("fonts/iAWriterDuospace-Regular.eot")) format("embedded-opentype"),
    url(@routes.Assets.at("fonts/iAWriterDuospace-Regular.woff2")) format("woff2"),
    url(@routes.Assets.at("fonts/iAWriterDuospace-Regular.woff")) format("woff");
}
</style>
<script src='@routes.Assets.at("dist/fileview.bundle.js")' type="text/javascript" defer></script>
}(currentFile)
