.content, .header {
  padding-left: 2em;
  padding-right: 2em;
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}
.repo-header {
  padding-bottom: 2em;
}
#layout {
  padding-left: $sidebar-width;
  left: 0;
  position: relative;
}
