.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 992px) {
.container {
  margin-left: 301px;
  max-width: 700px;
  padding-right: 0rem;
  padding-left: 0rem;
}
}
