.rz-header {
  border-bottom: 1px solid #ebebeb;
}
.rz-logo {
  font-weight: bold;
  border-right: 1px gray solid;
  margin-right: 10px;
}

.auth-user {
  margin-left: auto;
}

.repositories,
.sign-out {
  margin-left: 25px;
}

img.profile-picture {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 3px;
}
