.tf-header {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
}
.tf-logo {
  font-weight: bold;
  border-right: 1px gray solid;
  margin-right: 10px;
}
.current-file {
  display: inline-block;
  margin-right: auto;
  padding-top: 0.5em;
}
.tf-my-documents {
  width: $filetree-width;
}
.auth-user {
  margin-left: auto;
}

.repositories,
.sign-out {
  margin-left: 25px;
}

img.profile-picture {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 3px;
}
