@(page: RzRepository.Page)(implicit request: RepositoryRequestHeader)

@creatorButton() = {
<li class="tf-menu-item @if(page == RzRepository.Page.Constructor) { tf-menu-selected }">
<a
  href="@templatesRoutes.TemplateController.overview(request.doc.owner.username, request.doc.name)"
  class="tf-menu-link"
  >@request.messages("doc.tree.creator")</a
>
</li>
}

<div class="tf-menu tf-menu-horizontal">
  <span class="repository-name">@request.doc.owner.username / @request.doc.name → </span>
  <ul class="tf-menu-list">
    <li class="tf-menu-item @if(page == RzRepository.Page.FileView) { tf-menu-selected }">
      <a
        href="@documentsRoutes.FileViewController.emptyTree(request.doc.owner.username, request.doc.name, RzRepository.defaultBranch)"
        class="tf-menu-link"
        >@request.messages("doc.tree.fileview")</a
      >
    </li>
    @request.role match { 
    case Role.Owner => {
    <li class="tf-menu-item @if(page == RzRepository.Page.Collaborators) { tf-menu-selected }">
      <a
        href="@collaboratorsRoutes.CollaboratorsController.page(request.doc.owner.username, request.doc.name)"
        class="tf-menu-link"
        >@request.messages("doc.tree.collaborators")</a
      >
    </li>
    }
    case _ => {}
    }
    <li class="tf-menu-item">
      <a
        href="@documentsRoutes.RzRepositoryController.downloadArchive(request.doc.owner.username, request.doc.name, RzRepository.defaultBranch)"
        class="tf-menu-link"
        >@request.messages("doc.tree.downloads")</a
      >
    </li>
    <li class="tf-menu-item @if(page == RzRepository.Page.CommitHistory) { tf-menu-selected }">
      <a
        href="@documentsRoutes.RzRepositoryController.commitLog(request.doc.owner.username, request.doc.name, RzRepository.defaultBranch, 1)"
        class="tf-menu-link">
        @request.messages("doc.tree.commits")
      </a>
    </li>
    @{(request.role,request.doc.updatedAt)  match { 
      case (Role.Owner, None) => creatorButton()
      case _ => {}
    }}
    <li class="tf-menu-item tf-clone-by">
        <input type="radio" id="show-http" name="radios" checked> 
        <label for="show-http" class="clone-label">HTTPS</label>
        <input type="radio" id="show-ssh" name="radios"> 
        <label for="show-ssh" class="clone-label">SSH</label>
        
        <span id="git-http-url-block">
          <form class="tf-form tf-form-inline" onsubmit="return false;">
            <input id="git-http-url" class="tf-input-inline" type="text" readonly value="@request.doc.http(request)" />
            <button class="tf-button ssh-copy-button tf-button-left" onclick='document.getElementById("git-http-url").select();document.execCommand("copy");'>
              <img src='@routes.Assets.at("images/copy.svg")' class="svg-icon" />
            </button>
          </form>
        </span>
        <span id="git-ssh-url-block">
          <form class="tf-form tf-form-inline" onsubmit="return false;">
            <input id="git-ssh-url" class="tf-input-inline" type="text" readonly value="@request.doc.ssh(request)" />
            <button class="tf-button ssh-copy-button tf-button-left" onclick='document.getElementById("git-ssh-url").select();document.execCommand("copy");'>
              <img src='@routes.Assets.at("images/copy.svg")' class="svg-icon" />
            </button>
          </form>
        </span>
    </li>
  </ul>
</div>
