@(page: RepositoryPage)(implicit request: RepositoryRequestHeader)

<div class="rz-menu rz-menu-horizontal">
  <span class="repository-name">@request.repository.owner.userName / @request.repository.name → </span>
  <ul class="rz-menu-list">
    <li class="rz-menu-item @if(page == FileViewPage) { rz-menu-selected }">
      <a
        href="@routes.FileTreeController.emptyTree(request.repository.owner.userName, request.repository.name, RzRepository.defaultBranch)"
        class="rz-menu-link"
        >@request.messages("repository.tree.fileview")</a
      >
    </li>
    @request.role match { 
    case OwnerAccess => {
    <li class="rz-menu-item @if(page == CollaboratorsPage) { rz-menu-selected }">
      <a
        href="@routes.CollaboratorsController.collaboratorsPage(request.repository.owner.userName, request.repository.name)"
        class="rz-menu-link"
        >@request.messages("repository.tree.collaborators")</a
      >
    </li>
    }
    case _ => {}
    }
    <li class="rz-menu-item">
      <a
        href="@routes.RzRepositoryController.downloadRepositoryArchive(request.repository.owner.userName, request.repository.name, RzRepository.defaultBranch)"
        class="rz-menu-link"
        >@request.messages("repository.tree.downloads")</a
      >
    </li>
    <li class="rz-menu-item @if(page == CommitHistoryPage) { rz-menu-selected }">
      <a
        href="@routes.RzRepositoryController.commitLog(request.repository.owner.userName, request.repository.name, RzRepository.defaultBranch, 1)"
        class="rz-menu-link"
        >@request.messages("repository.tree.commits")</a
      >
    </li>
    <li class="rz-menu-item @if(page == ConstructorPage) { rz-menu-selected }">
      <a
        href="@routes.TemplateController.list(request.repository.owner.userName, request.repository.name)"
        class="rz-menu-link"
        >@request.messages("repository.tree.constructor")</a
      >
    </li>
    <li class="rz-menu-item cloneby">
        <input type="radio" id="showHttp" name="radios" checked> 
        <label for="showHttp" class="cloneLabel">HTTPS</label>
        <input type="radio" id="showSsh" name="radios"> 
        <label for="showSsh" class="cloneLabel">SSH</label>
      
        <input id="gitHttpUrl" type="text" readonly value="@request.repository.httpUrl(request)"  />
        <input id="gitSshUrl" type="text" readonly value="@request.repository.sshUrl(request)"  />
    </li>
  </ul>
</div>
