@(addCollaboratorForm: Form[NewCollaboratorData], collaborators: List[SimpleAccount])(implicit request: RepositoryRequestHeader)

@import views.html.helper._
@import base._
@import helpers._

@auth(request.messages("repository.collaborator.title")) {
@notificationHeader()
@repositoryHeader()

@collaborators.map {
    case (collaborator) => {
<p>@collaborator.userName
    @if(request.account.email != collaborator.email) {

    @form(routes.RepositoryController.removeCollaboratorAction(request.repository.owner.userName, request.repository.name)) {
    @CSRF.formField
    <input type="hidden" name="email" value='@collaborator.email' />
    <button type="submit">X </button>
    }
    }
</p>
    }
    }
    @form(routes.RepositoryController.addCollaboratorAction(request.repository.owner.userName, request.repository.name)) {
    <fieldset>
        @CSRF.formField
        @inputText(addCollaboratorForm("emailOrLogin"),
        Symbol("_label") -> request.messages("repository.collaborator.emailOrLogin"),
        Symbol("_help") -> "")

        @select(field = addCollaboratorForm("accessLevel"),
        options = Seq(AccessLevel.canViewName -> request.messages("repository.collaborator.accessLevel.read"),
        AccessLevel.canEditName -> request.messages("repository.collaborator.accessLevel.write")),
        Symbol("_label") -> request.messages("repository.collaborator.accessLevel")
        )
    </fieldset>
    <div class="actions">
        <input type="submit" value='@request.messages("repository.collaborator.button")' class="btn primary"/>
    </div>
    }
}