@(addCollaboratorForm: Form[NewCollaboratorData], collaborators: List[Account])(implicit request: RepositoryRequestHeader )

@import views.html.helper._
@import base._
@import helpers._

@auth(request.messages("repository.collaborator.title")) {
@notificationHeader()
@repositoryHeader()

@collaborators.map {
    case (collaborator) => {
    <p>@collaborator.userName</p>
    }
    }
    @form(routes.RepositoryController.addCollaboratorAction(request.repositoryWithOwner.owner.userName,
                                                        request.repositoryWithOwner.repository.name)) {
    <fieldset>
        @CSRF.formField
        @inputText(addCollaboratorForm("emailOrLogin"),
        Symbol("_label") -> request.messages("repository.collaborator.emailOrLogin"),
        Symbol("_help") -> "")

        @select(field = addCollaboratorForm("accessLevel"),
        options = Seq(AccessLevel.canViewName -> request.messages("repository.collaborator.accessLevel.read"),
        AccessLevel.canEditName -> request.messages("repository.collaborator.accessLevel.write")),
        Symbol("_label") -> request.messages("repository.collaborator.accessLevel")
        )
    </fieldset>
    <div class="actions">
        <input type="submit" value='@request.messages("repository.collaborator.button")' class="btn primary"/>
    </div>
    }
}