@(addCollaboratorForm: Form[NewCollaboratorData], collaborators: List[Account])(implicit request: RepositoryRequestHeader )

@import views.html.helper._
@import base._
@import helpers._

@auth("Repository collaborators") {
@request.flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}
@request.flash.get("error").map { message =>
<div class="alert-message warning">
    <strong>Error!</strong> @message
</div>
}
@repositoryHeader()

@collaborators.map {
    case (collaborator) => {
    <p>@collaborator.userName</p>
    }
    }
    @form(routes.RepositoryController.addCollaborator(request.repositoryWithOwner.owner.userName,
                                                        request.repositoryWithOwner.repository.name)) {
    <fieldset>
        @CSRF.formField
        @inputText(addCollaboratorForm("emailOrLogin"), Symbol("_label") -> "User login or email", Symbol("_help") -> "")
        @select(field = addCollaboratorForm("accessLevel"), options = Seq(AccessLevel.canViewName -> "Read", AccessLevel.canEditName -> "Edit"), Symbol("_label") -> "Access Level")
    </fieldset>
    <div class="actions">
        <input type="submit" value="Add collaborator" class="btn primary"/>
    </div>
    }
}