@(editorForm: Form[EditedItem], blob:Blob, path: String)(implicit request: RepositoryRequestHeader)

@import views.html.helper._
@import base._
@import helpers._

@auth("Edit file") {
@request.flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

@request.flash.get("error").map { message =>
<div class="alert-message warning">
    <strong>Error!</strong> @message
</div>
}

@repositoryHeader()

@form(routes.RepositoryController.edit(request.repositoryWithOwner.owner.userName,
    request.repositoryWithOwner.repository.name, path), Symbol("enctype") -> "multipart/form-data") {
@CSRF.formField
<input type="text" id="newFileName" name="newFileName" value="@path" />
<textarea id="code" name="content" class="editor">@blob.content.content</textarea>

<input type="text" id="message" name="message" value="Edited in web version" />
<input type="text" id="oldFileName" name="oldFileName" value="@path" />
<input type="submit" />
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("dist/stylesheets/edit.css")"/>
<script src="@routes.Assets.at("dist/js/edit.js")" type="text/javascript"></script>
}
