@(editorForm: Form[EditedItem], owner: Account, repositoryName: String, blob:Blob, path: String)(implicit request: RepositoryRequestHeader)

@import views.html.helper._

@main {

@request.flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

@request.flash.get("error").map { message =>
<div class="alert-message warning">
    <strong>Error!</strong> @message
</div>
}

<h1>@repositoryName</h1>

@form(routes.RepositoryController.edit(owner.userName, repositoryName, path), Symbol("enctype") -> "multipart/form-data") {
@CSRF.formField
<div id="editor" class="editor">@blob.content.content</div>

<input type="submit" />
}
<script src="@routes.Assets.at("dist/js/edit.js")" type="text/javascript"></script>
}
