@(editorForm: Form[EditedItem], blob:Blob, path: String, tree: Array[PathBreadcrumb])(implicit request: RepositoryRequestHeader)

@import views.html.helper._
@import base._
@import helpers._

@auth(request.messages("repository.edit.title")) {
@notificationHeader()

@request.flash.get("error").map { message =>
<div class="alert-message warning">
    <strong>Error!</strong> @message
</div>
}

@repositoryHeader()
@repositoryFileTree(tree)

@form(routes.RepositoryController.edit(request.repository.owner.userName, request.repository.name, path)) {
@CSRF.formField

@inputText(editorForm("fileName"), Symbol("_label") -> request.messages("repository.edit.form.filename"), Symbol("readonly")->"readonly")

@textarea(editorForm("content"), Symbol("class") -> "editor", Symbol("id") -> "code",  Symbol("_label") -> request.messages("repository.edit.form.content"))

@inputText(editorForm("message"), Symbol("_label") -> request.messages("repository.edit.form.message"))

<input type="submit" value='@request.messages("repository.edit.submit")'/>
}
<link rel="stylesheet" media="screen" href="@routes.Assets.at("dist/stylesheets/edit.css")"/>
<script src="@routes.Assets.at("dist/js/edit.js")" type="text/javascript"></script>
}
