@(currentPage: List[RzRepository])(implicit request: AccountRequestHeader)


@linkToCreator(repository: RzRepository) = {
<a
  href="@templatesRoutes.TemplateController.overview(repository.owner.username, repository.name)"
  class="rz-menu-link"
  >  @repository.owner.username / @repository.name </a
>
}
@linkToFileTree(repository: RzRepository) = {
<a
  href="@documentsRoutes.FileViewController.emptyTree(repository.owner.username, repository.name, RzRepository.defaultBranch)"
  class="rz-menu-link"
  >  @repository.owner.username / @repository.name </a
>
}

@base.auth(request.messages("repository.list.title")){
<div class="repo-list-header">
  <a class="rz-button" href="@documentsRoutes.RzRepositoryController.createPage()">
    @request.messages("repository.list.createNew")
  </a>
</div>

<div class="repo-list">
  @Option(currentPage).filterNot(_.isEmpty).map {repositories => 
    @repositories.map { case (repository) => 
    <div class="repo-list-row">
    @{repository.updatedAt match {
      case Some(_) => linkToFileTree(repository)
      case _ => linkToCreator(repository)
    }}
    </div>
    } 
  }.getOrElse {
  <p> @request.messages("repository.list.empty") </p>
  }
</div>
}()()
