@(currentPage: List[Repository])(implicit request: UserRequestHeader)

@import base._

@auth(request.messages("repository.list.title")) {
<a class="button" href="@routes.RepositoryController.createRepository">@request.messages("repository.list.createNew")</a>

    @Option(currentPage).filterNot(_.isEmpty).map { repositories =>
                @repositories.map {
                    case (repository) => {
<p><a href="@routes.RepositoryController.view(repository.owner.userName, repository.name, ".")"> @repository.owner.userName / @repository.name</a> </p>
                    }
                }
    }.getOrElse {
        <div class="well">
            @request.messages("repository.list.empty")
        </div>
    }

}