@(content: Html)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>RAZAM</title>

        @*************************************

        *************************************@

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("dist/stylesheets/main.css")"/>


    </head>
    <body>

        <header class="topbar">
            <h1 class="fill" id="header-title">
                RAZAM
            </h1>
        </header>

        <div class="container">
        <section id="main">
            @content
        </section>
        </div>
    </body>
</html>
