@(userEditForm: Form[UserUpdate], passwordUpdateForm: Form[PasswordUpdate], zoneIds: scala.collection.SortedMap[String, String])(implicit req:AccountRequestHeader)

@import views.html.helper._
@base.auth(req.messages("profile.title")) {
<h1> @req.messages("profile.title") </h1>
@header.alerts()

<div class="profile-block">
  @form(usersRoutes.AccountController.editAccount(), Symbol("class") -> "tf-form tf-form-stacked") {
  @CSRF.formField
  @inputText(userEditForm("username"), Symbol("_label") -> "User login", Symbol("_help") -> "", Symbol("readonly") -> "readonly")
  @inputText(userEditForm("fullName"), Symbol("_label") -> "Full name", Symbol("_help") -> "")
  @inputText(userEditForm("mailAddress"), Symbol("_label") -> "Mail address", Symbol("_help") -> "")
  <div class="actions">
    <input type="submit" value='@req.messages("profile.submit.data")' class="tf-button tf-button-primary" />
  </div>
  }
</div>

<div class="profile-block">
  @form(usersRoutes.AccountController.setTimeZone(), Symbol("class") -> "tf-form tf-form-stacked") {
  @CSRF.formField
  <select name="timezone">
    @zoneIds.map{ case (id, value) =>
    <option value="@{id}" @if(req.account.tz == id) {selected}>@{id} UTC@{value}</option>
    }
  </select>
  <div class="actions">
    <input type="submit" value='@req.messages("profile.submit.timezone")' class="tf-button tf-button-primary" />
  </div>
  }
</div>


<div class="profile-block">
  @form(usersRoutes.AccountController.updatePassword(), Symbol("class") -> "tf-form") {
  @CSRF.formField
  @inputPassword(passwordUpdateForm("oldPassword"), Symbol("_label") -> "Current password", Symbol("_help") -> "")
  @inputPassword(passwordUpdateForm("newPassword"), Symbol("_label") -> "New Password", Symbol("_help") -> "")
  <div class="actions">
    <input type="submit" value='@req.messages("profile.submit.password")' class="tf-button tf-button-primary" />
  </div>
  }
</div>

<div class="profile-block">
  @helper.form(action = usersRoutes.AccountPictureController.uploadAccountPicture(), Symbol("enctype") -> "multipart/form-data", Symbol("class") -> "tf-form") {
  @CSRF.formField
  @if(req.account.picture) {
  <p>
    <img src="@usersRoutes.AccountPictureController.accountPicture(req.account.username)" />
  </p>
  }
  <input type="file" name="picture" />

  <p>
    <input type="submit" value='@req.messages("profile.submit.picture")' class="tf-button tf-button-primary" />
  </p>
  }
</div>

<div class="profile-block">
  @if(req.account.picture) {
  @helper.form(action = usersRoutes.AccountPictureController.removeAccountPicture()) {
  @CSRF.formField
  <input type="submit" value='@req.messages("profile.delete.picture")' class="tf-button tf-button-primary" />
  }
  }
</div>

<div class="profile-block">
  <a href="@sshRoutes.SshKeyController.page()" class="tf-button">SSH Keys</a>
</div>

<div class="profile-block">
    <a href="@usersRoutes.AuthController.logout()" class="tf-button">@req.messages("common.signout")</a>
</div>
}()()
