@(signupForm: Form[AccountRegistrationData], zoneIds: scala.collection.SortedMap[String, String])(implicit req: MessagesRequestHeader) 
@import views.html.helper._ 

@html = {
<div class="rz-auth">
  <h1> @req.messages("signup.head") </h1>
  @header.alerts()
  @form(routes.AccountController.saveAccount(), Symbol("class") -> "rz-form") {
  @CSRF.formField 
  @inputText(signupForm("userName"), Symbol("_label") -> req.messages("signup.form.userName"), Symbol("_help") -> "", Symbol("autofocus") -> "") 
  @inputPassword(signupForm("password"), Symbol("_label") ->
  req.messages("signup.form.password"), Symbol("_help") -> "") @inputText(signupForm("mailAddress"),
  Symbol("_label") -> req.messages("signup.form.email"), Symbol("_help") -> "") @inputText(signupForm("fullName"),
  Symbol("_label") -> req.messages("signup.form.fullname"), Symbol("_help") -> "")

  <input type="hidden" name="timezone" id="timezone" value="@DateTime.defaultTz.toString" />

  <input type="submit" value='@req.messages("signup.submit")' class="rz-button rz-button-primary" />
  or
  <a class="rz-button" href="@routes.AuthController.loginPage()">@req.messages("signup.signInLink")</a>
  }
}

@js = {
  <script src='@routes.Assets.at("dist/timezone.bundle.js")' type="text/javascript" defer></script>
}

@headerHtml = {
  <ul class="rz-menu-list">
    <li class="rz-menu-item">
    <a href="@routes.RzRepositoryController.list()" class="rz-menu-link">
      <span class="rz-logo"> RZM </span>
      @req.messages("signin.title")</a>
    </a>
  </li>
</ul>
}

@base.main(req.messages("signup.title"))(html, headerHtml)(js)
