@(signinForm: Form[EmailAndPasswordCredentials])(implicit request: MessagesRequestHeader) 
@import views.html.helper._ 
@import infrastructure.repositories.RzDateTime

@html = {
<div class="tf-auth">
  <h1> @request.messages("signin.head") </h1>
  @header.alerts() 
  @form(usersRoutes.AuthController.login(), Symbol("class") -> "tf-form") {
  @CSRF.formField 
  @inputText(signinForm("username"), Symbol("_label") -> "User login", Symbol("_help") -> "", Symbol("autofocus") -> "")
  @inputPassword(signinForm("password"), Symbol("_label") -> "Password", Symbol("_help") -> "")
  <input type="hidden" name="timezone" id="timezone" value="@RzDateTime.defaultTz.toString" />

  <input type="submit" value='@request.messages("signin.submit")' class="tf-button tf-button-primary" />
  or
  <a class="tf-button" href="@usersRoutes.AccountController.signup()">@request.messages("signin.signupLink")</a>
  }
</div>
}

@js = {
  <script src='@routes.Assets.at("dist/timezone.bundle.js")' type="text/javascript" defer></script>
}

@headerHtml = {
  <ul class="tf-menu-list">
    <li class="tf-menu-item">
    <a href="@documentsRoutes.RzRepositoryController.list()" class="tf-menu-link">
      <span class="tf-logo"> TexFlow </span>
      @request.messages("signin.title")</a>
    </a>
  </li>
</ul>
}

@base.main(request.messages("signin.title"))(html, headerHtml)(js)
