@(signinForm: Form[AccountLoginData])(implicit request: MessagesRequestHeader) 
@import views.html.helper._ 

@html = {
<div class="rz-auth">
  <h1> @request.messages("signin.head") </h1>
  @header.alerts() 
  @form(routes.AuthController.login(), Symbol("class") -> "rz-form") {
  @CSRF.formField 
  @inputText(signinForm("userName"), Symbol("_label") -> "User login", Symbol("_help") -> "", Symbol("autofocus") -> "")
  @inputPassword(signinForm("password"), Symbol("_label") -> "Password", Symbol("_help") -> "")
  <input type="hidden" name="timezone" id="timezone" value="@DateTime.defaultTz.toString" />

  <input type="submit" value='@request.messages("signin.submit")' class="rz-button rz-button-primary" />
  or
  <a class="rz-button" href="@routes.AccountController.signup()">@request.messages("signin.signupLink")</a>
  }
</div>
}

@js = {
  <script src='@routes.Assets.at("dist/timezone.bundle.js")' type="text/javascript" defer></script>
}

@base.main(request.messages("signin.title"))(html, js)()
