@(loginForm: Form[AccountLoginData])(implicit request: MessagesRequestHeader)
@import views.html.helper._
@import base._
@import helpers._

@header = {}

@html = {
  <div class="rz-auth">
  <h1>@request.messages("signin.head")</h1>
  @notificationHeader()

  @form(routes.AccountController.authenticate(), Symbol("class") -> "rz-form") {
  <fieldset>
    @CSRF.formField
    @inputText(loginForm("userName"), Symbol("_label") -> "User login", Symbol("_help") -> "")
    @inputPassword(loginForm("password"), Symbol("_label") -> "Password", Symbol("_help") -> "")
  </fieldset>
  <div class="actions">
    <input type="submit" value='@request.messages("signin.submit")' class="rz-button rz-button-primary"/> or
    <a class="rz-button" href="@routes.AccountController.register">@request.messages("signin.signupLink")</a></div>
  }
  </div>
}

@main(request.messages("signin.title"))(html, header)
