@(loginForm: Form[AccountLoginData])(implicit request: MessagesRequestHeader)
@import views.html.helper._
@import base._
@import helpers._

@main("Sign in") {
<h1>Login</h1>
@notificationHeader()

@form(routes.AccountController.authenticate()) {
<fieldset>
    @CSRF.formField
    @inputText(loginForm("userName"), Symbol("_label") -> "User login", Symbol("_help") -> "")
    @inputPassword(loginForm("password"), Symbol("_label") -> "Password", Symbol("_help") -> "")
</fieldset>
<div class="actions">
    <input type="submit" value="Sign in" class="btn primary"/></div>
<a class="button button-outline" href="@routes.AccountController.register">Register</a>
}
}
