@(registerForm: Form[AccountRegistrationData])(implicit request: MessagesRequestHeader)
@import views.html.helper._
@import base._

@main {
<h1>Register</h1>
@request.flash.get("error").map { message =>
<div class="alert-message warning">
    <strong>Error!</strong> @message
</div>
}
@form(routes.AuthController.saveUser()) {
<fieldset>
    @CSRF.formField
    @inputText(registerForm("userName"), Symbol("_label") -> "User name", Symbol("_help") -> "")
    @inputPassword(registerForm("password"), Symbol("_label") -> "Password", Symbol("_help") -> "")
    @inputText(registerForm("mailAddress"), Symbol("_label") -> "E-mail", Symbol("_help") -> "")
    @inputText(registerForm("fullName"), Symbol("_label") -> "Full Name", Symbol("_help") -> "")
</fieldset>
<div class="actions">
    <input type="submit" value="Register" class="btn primary" /></div>
<a class="button button-outline" href="@routes.AuthController.login">Sign in</a>
}
}
