@(registerForm: Form[AccountRegistrationData])(implicit request: MessagesRequestHeader)
@import views.html.helper._
@import base._
@import helpers._

@main(request.messages("signup.title")) {
<h1>@request.messages("signup.head")</h1>
@notificationHeader()

@form(routes.AuthController.saveUser()) {
<fieldset>
    @CSRF.formField
    @inputText(registerForm("userName"), Symbol("_label") -> request.messages("signup.form.userName"), Symbol("_help") -> "")
    @inputPassword(registerForm("password"), Symbol("_label") -> request.messages("signup.form.password"), Symbol("_help") -> "")
    @inputText(registerForm("mailAddress"), Symbol("_label") -> request.messages("signup.form.email"), Symbol("_help") -> "")
    @inputText(registerForm("fullName"), Symbol("_label") -> request.messages("signup.form.fullname"), Symbol("_help") -> "")
</fieldset>
<div class="actions">
    <input type="submit" value='@request.messages("signup.submit")' class="btn primary" /></div>
<a class="button button-outline" href="@routes.AuthController.login">@request.messages("signup.submit")</a>
}
}
