@(blob:Blob, path:String, tree: Array[PathBreadcrumb])(implicit request: RepositoryRequestHeader)
@import base._
@import helpers._

@auth(request.messages("repository.viewFile.title")) {
@repositoryHeader()

@repositoryFileTree(tree)

<p><a class="button"
      href="@routes.RepositoryController.raw(request.repository.owner.userName, request.repository.name, request.repository.defaultBranch, path)">
    @request.messages("repository.viewFile.raw")
</a>
</p>

@if(blob.content.viewType == "text"){
@if(request.role <= AccessLevel.canEdit) {
<p><a class="button" href="@routes.RepositoryController.editFilePage(request.repository.owner.userName, request.repository.name, path)">
    @request.messages("repository.viewFile.edit")
</a></p>
}
    <textarea id="code" name="content" class="editor">@blob.content.content</textarea>
}

@if(blob.content.viewType == "image"){
<img src="@routes.RepositoryController.raw(request.repository.owner.userName, request.repository.name, request.repository.defaultBranch, path)" />
}

@if(blob.content.viewType == "large" || blob.content.viewType == "binary"){
<a href="@routes.RepositoryController.raw(request.repository.owner.userName, request.repository.name, request.repository.defaultBranch, path)">
    @request.messages("repository.viewFile.cant")
</a>
}

<link rel="stylesheet" media="screen" href="@routes.Assets.at("dist/stylesheets/edit.css")"/>
<script src="@routes.Assets.at("dist/js/view.js")" type="text/javascript"></script>
}

