@(addNewItemToRepForm: Form[NewItem], gitData:RepositoryGitData, path: String)(implicit request: RepositoryRequestHeader )
@import views.html.helper._
@import base._

@main {
@request.flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

@request.flash.get("error").map { message =>
<div class="alert-message warning">
    <strong>Error!</strong> @message
</div>
}


<a class="button" href="@routes.RepositoryController.uploadPage(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name)">Upload files</a>
<a class="button" href="@routes.RepositoryController.addCollaboratorPage(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name)">Collaborators</a>


<div class="add-folder-form">
    @form(routes.RepositoryController.addNewItem(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name, path, true), Symbol("enctype") -> "multipart/form-data") {
    <fieldset>
        @CSRF.formField
        @inputText(addNewItemToRepForm("name"), Symbol("_label") -> "Folder name", Symbol("_help") -> "")
    </fieldset>
    <div class="actions">
        <input type="submit" value="Create folder" class="btn primary"/></div>
    }
</div>

<div class="add-file-form">
    @form(routes.RepositoryController.addNewItem(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name, path, false), Symbol("enctype") -> "multipart/form-data") {
    <fieldset>
        @CSRF.formField
        @inputText(addNewItemToRepForm("name"), Symbol("_label") -> "File name", Symbol("_help") -> "")
    </fieldset>
    <div class="actions">
        <input type="submit" value="Create file" class="btn primary"/></div>
    }
</div>

<a class="button" href="@routes.RepositoryController.uploadPage(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name)">Upload files</a>
    @gitData.files.map {
        case (file) => {
            @if(file.isDirectory) {
                <p>
                    FLDR: <a href="@routes.RepositoryController.view(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name, file.path)">@file.name</a>
                </p>
            } else {
                <p>
                    FILE: <a href="@routes.RepositoryController.blob(request.repositoryWithOwner.owner.userName, request.repositoryWithOwner.repository.name, request.repositoryWithOwner.repository.defaultBranch, file.path)">
                    @file.name
                </a></p>
            }
            <p>@file.time</p>
            <p>---</p>
        }
    }
}